@import url('https://fonts.cdnfonts.com/css/geometria');

* {
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}
.container{
    width: 1128px;
    margin: 0 ;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header {
    height: 100px;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.85);
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: center;
    align-items: end;
}

footer::before {
    width: 100%;
    height: 342px;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./footer/foot-pic.jpg');
    background-size: cover;
    background-position-y: -500px;
    filter: opacity(90%);
    filter: brightness(50%);
    z-index: -2;
}

footer {
    width: 100%;
    height: 342px;

    display: flex;
    justify-content: center;
    padding-top: 70px;

    position: relative;
    z-index: 3;
}

a {
    cursor: pointer;
}

.main-logo-cont {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.main-logo {
    width: 132px;
    height: 58px;

    cursor: pointer;
}

.nav-links {
    height: 52px;
    display: flex;
    gap: 50px;
}

.nav-links > a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

.nav-links > a:hover {
    border-bottom: 2px solid rgba(197, 55, 32, 1);
}

.nav-button {
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-button > button {
    height: 40px;
    width: 168px;

    background-color: transparent;
    border: 4px solid rgba(212, 46, 18, 1);
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);

    cursor: pointer;
}

.nav-search {
    height: 40px;
    width: 40px;
    margin-bottom: 22px;
    margin-left: 20px;
    margin-right: 15px;

    cursor: pointer;
}

.nav-bucket-and-counter {
    display: flex;
    align-items: center;
    gap: 3px;

    margin-bottom: 23px;
}

.nav-bucket-and-counter > .bucket {
    cursor: pointer;
}

.counter-circle {
    height: 30px;
    width: 30px;
    background-color: rgba(197, 55, 32, 1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-counter {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
}

.swiper-slide-with-button-div {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.swiper-slide-with-button-div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;

}

.swiper-slide-with-button-div > button {
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}
.banner-tetya-cont {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.banner-wrapper{
    width: 100%;
}
.banner-fotka{
    height: 720px;
}
.banner-fotka > img {
    height: 720px;
    width: 100%;
    filter: brightness(70%);
}

.banner-text {
    position: absolute;
    top: 220px;
    left: 350px;

    z-index: 1;
    width: 600px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}
.banner-text > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
}

.banner-text > button {
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}
.section_main-info{
    height: 52px;
    background-color: #ffffff ;
    display: flex;
    justify-content: center;
}
.main_to_info > p{
    color: rgba(197, 55, 32, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

}
.main_to_info{
    width: 200px;
    height: 45px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 1150px;
}
.main_to_info > h1{
    color: rgba(29, 29, 29, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.section-news{
    height: 772px;
    background-color: #ffffff ;
    display: flex;
    justify-content: center;
}
.news_Boss-Block{
    height:772px;
}
.news_first-block{
    height: 124px;
    margin-top: 66px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont_for_NEWS{
    height: 44px;
    width: 216px;
    border-bottom: 4px solid rgba(197, 55, 32, 1);
    margin-bottom: 32px;
}
.cont_for_NEWS > h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(29, 29, 29, 1);
}
.news_pro-auto{
    height: 32px;
    width: 892px;
    display: flex;
    justify-content: center;
}
.news_pro-auto > h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(29, 29, 29, 1);
    gap:32px
}
.news_second-block{
    height: 428px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-cont-for_koleso{
    width: 1128px;
    height: 310px;
    background-image: url(./main-img/red-koleso.png);
}
.cont-for-logo_fotka{
    width: 237px;
    height: 104px;
    position: relative;
}
.cont-for-logo_fotka > img{
    size: 237px;
    height: 104px;
    position: absolute;
    left: 445px;
    top: 105px;
}
.second-cont-for_text{
    padding-top: 20px;
    height: 100px;
}
.cont-for-first_text{
    width: 528px;
    height: 20px;
    display: flex;
    align-items: center;
}
.cont-for-first_text > p{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(197, 55, 32, 1);
}
.cont-for-second_text{
    height: 62px;
    padding-top: 16px;
}
.cont-for-second-text > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(29, 29, 29, 1);
}
.third-cont-for_strelki{
    height: 52px;
    display: flex;
    flex-direction: row;
    padding-top: 52px;
    justify-content: space-between;
}
.cont-for-first_strelki{
    width: 180px;
    height: 52px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.cont-for-text-in_strelki{
    width: 128px;
    height:20px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
.cont-for-text-in_strelki_second > p{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(197, 55, 32, 1);
}
.cont-for-img-in_strelki{
    width: 52px;
    height: 52px;
}
.cont-for-second_strelki{
    width: 180px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont-for-text-in_strelki_second{
    width: 128px;
    height:20px;
    padding-right: 16px;
    display: flex;
    align-items: center;
}
.cont-for-text-in_strelki > p{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(197, 55, 32, 1);
    opacity: 60%;
}
.cont-for-img-in_strelki_second{
    width: 52px;
    height: 52px;
}
.FAQ::before {
    width: 100%;
    height: 1238px;
    content: '';
    position: absolute;
    top: AUTO;
    left: 0;
    background-image: url('./main-img/F.A.Q.\ back.jpg');
    background-size: cover;
    filter: opacity(80%);
    filter: brightness(30%);
}
.FAQ{
    display: flex;
    justify-content: center;
    position: relative;
}
.faq-Boss-container{
    height: 1238px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #ffffff;
    padding-top: 88px;
    padding-bottom: 88px;
    background: linear-gradient(360deg, black, rgba(197, 55, 32, 0));
}
.first-faq-block{
    height: 152px;
    width: 1128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.f_a_q{
    width: 1128px;
    height: 48px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.razdel-faq{
    width: 1100px;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 44px;
}
.razdel-faq > h1{
    width: 892px;
    height: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.second-faq-block{
    display: flex;
    flex-direction: row;
    width: 1128px;
    height: 50px;
    border-bottom: 2px solid rgba(29, 29, 29, 1);
    margin-top: 36px;
}
.general-questions{
    width: 564px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.general-questions > p{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.exploriation{
    width: 564px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgba(197, 55, 32, 1);
}
.exploriation > h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(197, 55, 32, 1);
}
.third-faq-block{
    width: 1128px;
    height: 344px;
    position: relative;
}
.wetki-stekloochistitelya{
    height: 344px;
    padding: 32px 8px 32px 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.wetki-stekloochistitelya > img{
    height: 56px;
    width: 56px;
    position: absolute;
    left: 1072px;
    bottom: 272px;
}
.wetki-stekloochistitelya > .kokers > p{
    width: 1024px;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}
.wetki-stekloochistitelya >.kokers> h1{
    padding-top: 20px;
    width: 1024px;
    height: 240px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    opacity: 70%;
    padding-bottom: 32px;
}
.kokers {
    width: 1024px;
    height: 102px;
}
.cont-cont-for-fotka_wetki{
    width: 104px;
    height: 102px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
}
.cont-for-fotka_wetki{
    width: 56px;
    height: 56px;
    margin-top: -30px;
}
.faq-grid{
    width: 1128px;
    height: 84px;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.third-faq-block_grids{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display:flex;
    flex-direction: column;
}
.fourth-faq-block{
    width: 1128px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 72px;
}
.fourth-faq-block > button{
    width:168px;
    height: 40px;
    border: 4px solid rgba(197, 55, 32, 1);
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.up-down{
    width: 52px;
    height: 116px;
    position: relative;
    left: 595px;
    top: 1005px;
    padding-left: 162px;
}
.down{
    padding-top: 6px;
}
.up-down{
    padding-bottom: 6px;
}   
.footer-logo-and-privacy {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.footer-logo-and-privacy > img {
    width: 168px;
    height: 74px;

    cursor: pointer;
}

.footer-logo-and-privacy > p {
    width: 200px;
    color: rgba(255, 255, 255, 1);
    opacity: 50%;
    font-size: 16px;
    font-weight: 500;
}

.options-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.options-cont > div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

.options-cont > div > a {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.options-cont > div {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-feedback > div > p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
}

.footer-feedback > div > img {
    width: 20px;
    height: 20px;
}

.footer-feedback > div > button {
    width: 176px;
    height: 40px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);
    margin-left: 20px;
    margin-top: 20px;

    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;

    cursor: pointer;
}

.footer-feedback > div {
    display: flex;
    gap: 10px;
}

.footer-feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 60px;
}