@import url('https://fonts.cdnfonts.com/css/geometria');

:root {
    --swiper-pagination-bullet-width: 150px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-color: rgba(197, 55, 32, 1);
    --swiper-pagination-bullet-border-radius: 5px;
    --swiper-pagination-bullet-horizontal-gap: 10px;
}

* {
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.85);
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: center;
    align-items: end;
}

footer::before {
    width: 100%;
    height: 342px;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./footer/foot-pic.jpg');
    background-size: cover;
    background-position-y: -500px;
    filter: opacity(90%);
    filter: brightness(50%);

    z-index: -2;
}

footer {
    width: 100%;
    height: 342px;

    display: flex;
    justify-content: center;
    padding-top: 70px;

    position: relative;
    z-index: 3;
}

a {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.main-logo-cont {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.main-logo {
    width: 132px;
    height: 58px;

    cursor: pointer;
}

.nav-links {
    height: 52px;
    display: flex;
    gap: 50px;
}

.nav-links > a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-links > a:hover {
    border-bottom: 2px solid rgba(197, 55, 32, 1);
}

.nav-button {
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-button > button {
    height: 40px;
    width: 168px;

    background-color: transparent;
    border: 4px solid rgba(212, 46, 18, 1);
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);

    cursor: pointer;
}

.nav-search {
    height: 40px;
    width: 40px;
    margin-bottom: 22px;
    margin-left: 20px;
    margin-right: 15px;

    cursor: pointer;
}

.nav-bucket-and-counter {
    display: flex;
    align-items: center;
    gap: 3px;

    margin-bottom: 23px;
}

.nav-bucket-and-counter > .bucket {
    cursor: pointer;
}

.counter-circle {
    height: 30px;
    width: 30px;
    background-color: rgba(197, 55, 32, 1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-counter {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
}

.search-bar {
    width: 100%;
    height: 72px;

    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;

    background-color: rgba(29, 29, 29, 0.75);

    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-cont {
    width: 970px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
}

.input-cont > img {
    margin: 0px 5px;
}

.input-cont > input {
    height: 38px;
    width: 90%;

    background-color: transparent;
    border: none;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.search-bar > button {
    width: 86px;
    height: 40px;

    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;    
    cursor: pointer;
}

.search-bar > img {
    translate: 0 -10px ;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.swiper-slide > img {
    height: 720px;
    width: 100%;
    filter: brightness(70%);
}

.swiper-slide-title {
    position: absolute;
    top: 220px;
    left: 350px;

    z-index: 1;
}

.swiper-slide-with-button-div {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.swiper-slide-with-button-div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
}

.swiper-slide-with-button-div > a{
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.swiper-pagination {
    margin-bottom: 50px;
}

.footer-logo-and-privacy {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.footer-logo-and-privacy > img {
    width: 168px;
    height: 74px;

    cursor: pointer;
}

.footer-logo-and-privacy > p {
    width: 200px;
    color: rgba(255, 255, 255, 1);
    opacity: 50%;
    font-size: 16px;
    font-weight: 500;
}

.options-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.options-cont > div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

.options-cont > div > a {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.options-cont > div {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-feedback > div > p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
}

.footer-feedback > div > img {
    width: 20px;
    height: 20px;
}

.footer-feedback > div > button {
    width: 176px;
    height: 40px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);
    margin-left: 20px;
    margin-top: 20px;

    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;

    cursor: pointer;
}

.footer-feedback > div {
    display: flex;
    gap: 10px;
}

.footer-feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 60px;
}

.main__nav{
    width: 100%;
    height: 52px;
    margin-inline: auto ;
    max-width: 1128px;
    
    position: relative;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;

    position: absolute;
    top: 16px;
}

.link{
    color: #C53720;
    font-size: 12px;
    font-weight: 500;

    text-decoration: none;
}

.main__arrow{
    width: 20px;
    height: 20px;
}

.main__services{
    font-size: 12px;
    font-weight: 500;
    color: #1D1D1D;

    text-decoration: none;
}

.main__basket-block{
    width: 100%;
    background-color: #EDEDED;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 88px;
    position: relative;
}

.main__basket-text{
    font-weight: 700;
    font-size: 36px;
    color: #1D1D1D;
    width: 100%;
    max-width: 1128px;

    padding: 88px 0px 36px;
    justify-content: flex-start;
}

.main__basket-border{
    max-width: 1128px;
    background-color: #FFFFFF;
    border: 4px solid #A5A5A5;
}

.main__basket{
    border-bottom: 4px solid #A5A5A5;
    display: flex;
    align-items: center;

    position: relative;
}

.main__battery{
    padding: 40px 32px 40px 28px;
}

.main__button-stock{
    padding-right: 56px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main__button-stock p{
    font-size: 20px;
    font-weight: 500;
    color: #C53720;
}

.main__button-stock button{
    width: 100px;
    height: 32px;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 12px 18px;
    background-color: #3CC051;
    border: none;
    cursor: pointer;
}

.main__product-price{
    padding-right: 52px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__price{
    font-size: 32px;
    font-weight: 700;
    color: #1D1D1D;
}

.main__past-price{
    font-size: 20px;
    font-weight: 700;
    text-decoration: line-through;
    color: #A5A5A5;
}

.main__number-items-price{
    padding-right: 72px;
    padding-bottom: 54px;
    font-size: 32px;
    font-weight: 700;
    color: #1D1D1D;
}

.main__number-items{
    padding-right: 52px;
    padding-bottom: 46px;
    display: flex;
}

.main__symbols{
    font-size: 14px;
    font-weight: 700;
    border: 4px solid #A5A5A5;
    color: #A5A5A5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__number{
    width: 84px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border: 4px solid #A5A5A5;
    color: #A5A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__cross{
    position: absolute;
    right: 16px;
    top: 16px;
}

.main__total-price{
    border-bottom: 4px solid #A5A5A5;
    padding: 38px 72px 40px 32px;

    display: flex;
    align-items: center;
}

.main__clean{
    width: 168px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    border: 4px solid #C53720;
    color: #C53720;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.main__total-text{
    font-size: 20px;
    font-weight: 700;
    color: #A5A5A5;
    padding: 0 47px 0 489px;
}
   

.main__total{
    font-size: 32px;
    font-weight: 700;
    color: #1D1D1D;
}

.main__processing{
    padding: 38px 72px 40px 32px;
    

    display: flex;
    align-items: center;
}

.main_buy{
    width: 202px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    border: 4px solid #C53720;
    color: #C53720;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
}

.main__order{
    width: 178px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    border: 4px solid #1D1D1D;
    color: #1D1D1D;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 28px 0 448px;
}

.main__place{
    width: 168px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    border: 4px solid #C53720;
    color: #C53720;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.upstroke {
    position: absolute;
    bottom: 105px;
    right: 40px;
    cursor: pointer;
}

.downstroke {
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

button{
    cursor: pointer;
}
