@import url('https://fonts.cdnfonts.com/css/geometria');

* {
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}
.container{
    width: 1128px;
    margin: 0 ;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header {
    height: 100px;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.85);
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: center;
    align-items: end;
}

footer::before {
    width: 100%;
    height: 342px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../footer/foot-pic.jpg');
    background-size: cover;
    background-position-y: -500px;
    filter: opacity(90%);
    filter: brightness(50%);
    z-index: -2;
}

footer {
    width: 100%;
    height: 342px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    position: relative;
    z-index: 3;
}

a {
    cursor: pointer;
}

.main-logo-cont {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

    position: relative;
}

.main-logo-cont > a {
    width: 132px;
    height: 58px;

    position: absolute;
    top: 21px;
    left: 0;
}

.main-logo {
    width: 132px;
    height: 58px;

    cursor: pointer;
}

.nav-links {
    height: 52px;
    display: flex;
    gap: 50px;
}

.nav-links > a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-links > a:hover {
    border-bottom: 2px solid rgba(197, 55, 32, 1);
}

.nav-button {
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-button > button {
    height: 40px;
    width: 168px;

    background-color: transparent;
    border: 4px solid rgba(212, 46, 18, 1);
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);

    cursor: pointer;
}

.nav-search {
    height: 40px;
    width: 40px;
    margin-bottom: 22px;
    margin-left: 20px;
    margin-right: 15px;

    cursor: pointer;
}

.nav-bucket-and-counter {
    display: flex;
    align-items: center;
    gap: 3px;

    margin-bottom: 23px;
}

.nav-bucket-and-counter > .bucket {
    cursor: pointer;
}

.counter-circle {
    height: 30px;
    width: 30px;
    background-color: rgba(197, 55, 32, 1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-counter {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
}

.swiper-slide-with-button-div {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.swiper-slide-with-button-div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;

}

.swiper-slide-with-button-div > button {
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}
.banner-tetya-cont {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 720px;
}
.banner-wrapper{
    width: 100%;
}
.banner-fotka > img{
    width: 100%;
    height: 720px;
}
.banner-fotka::before{
    width: 100%;
    content: '';
    position: absolute;
    top: AUTO;
    left: 0;
    filter: brightness(60%);
    height: 720px;
    background: linear-gradient(100deg, black, rgba(197, 55, 32, 0));
}
.banner-text {
    position: absolute;
    top: 220px;
    left: 350px;
    z-index: 1;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-text > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
}

.banner-text > button {
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    cursor: pointer;
}

.banner-text > button > a {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.section_main-info{
    height: 52px;
    display: flex;
    justify-content: center;
}
.main_to_info > p{
    color: rgba(197, 55, 32, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.main_to_info{
    height: 45px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 1150px;
}
.main_to_info > h1{
    color: rgba(29, 29, 29, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.oformlenie-zakaza_wrapper{
    width: 100%;
    height: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(237, 237, 237, 1);
    position: relative;
}
.cont-for_oformlenie-text{
    height: 64px;
    margin-bottom: 24px;
}
.cont-for_oformlenie-text > p{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.cont-for_oformlenie-cartempty{
    height: 338px;
    border: 4px solid rgba(165, 165, 165, 1);
    background-color: #ffffff;
    display:flex;
    align-items: center;
}
.cont-for_fotka-tetya{
    width: 314px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-for_fotka-tetya-tetka{
    width: 242px;
    height: 242px;
}
.cont-for_text-oformlenie{
    width: 813px;
    height: 222px;
}
.cont-for_text-oformlenie > p{
    width: 805px;
    height: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.cont-for_text-oformlenie > h1{
    width: 672px;
    height: 42px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 60px;
}
.cont-for_text-oformlenie > button{
    width: 128px;
    height: 40px;
    color: rgba(197, 55, 32, 1);
    border: 3px solid rgba(197, 55, 32, 1);
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.up-down{
    position: absolute;
    bottom: 36px;
    right: 42px;
}
.down{
    padding-top: 6px;
}
.up{
    padding-bottom: 6px;
}  
.footer-logo-and-privacy {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.footer-logo-and-privacy > img {
    width: 168px;
    height: 74px;
    cursor: pointer;
}

.footer-logo-and-privacy > p {
    width: 200px;
    color: rgba(255, 255, 255, 1);
    opacity: 50%;
    font-size: 16px;
    font-weight: 500;
}

.options-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.options-cont > div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

.options-cont > div > a {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.options-cont > div {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-feedback > div > p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
}

.footer-feedback > div > img {
    width: 20px;
    height: 20px;
}

.footer-feedback > div > button {
    width: 176px;
    height: 40px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);
    margin-left: 20px;
    margin-top: 20px;

    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;

    cursor: pointer;
}

.footer-feedback > div {
    display: flex;
    gap: 10px;
}

.footer-feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 60px;
}