@import url('https://fonts.cdnfonts.com/css/geometria');

* {
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}
.container{
    width: 1128px;
    margin: 0 ;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header {
    height: 100px;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.85);
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: center;
    align-items: end;
}

footer::before {
    width: 100%;
    height: 342px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../footer/foot-pic.jpg');
    background-size: cover;
    background-position-y: -500px;
    filter: opacity(90%);
    filter: brightness(50%);
    z-index: -2;
}

footer {
    width: 100%;
    height: 342px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    position: relative;
    z-index: 3;
}

input:focus {
    outline: none;
}

.main-logo-cont {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

    position: relative;
}

.main-logo-cont > a {
    width: 132px;
    height: 58px;

    position: absolute;
    top: 21px;
    left: 0;
}

.main-logo {
    width: 132px;
    height: 58px;

    cursor: pointer;
}

.nav-links {
    height: 52px;
    display: flex;
    gap: 50px;
}

.nav-links > a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-links > a:hover {
    border-bottom: 2px solid rgba(197, 55, 32, 1);
}

.nav-button {
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-button > button {
    height: 40px;
    width: 168px;

    background-color: transparent;
    border: 4px solid rgba(212, 46, 18, 1);
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);

    cursor: pointer;
}

.nav-search {
    height: 40px;
    width: 40px;
    margin-bottom: 22px;
    margin-left: 20px;
    margin-right: 15px;

    cursor: pointer;
}

.nav-bucket-and-counter {
    display: flex;
    align-items: center;
    gap: 3px;

    margin-bottom: 23px;
}

.nav-bucket-and-counter > .bucket {
    cursor: pointer;
}

.counter-circle {
    height: 30px;
    width: 30px;
    background-color: rgba(197, 55, 32, 1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-counter {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
}

.search-bar {
    width: 100%;
    height: 72px;

    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;

    background-color: rgba(29, 29, 29, 0.75);

    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-cont {
    width: 970px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
}

.input-cont > img {
    margin: 0px 5px;
}

.input-cont > input {
    height: 38px;
    width: 90%;

    background-color: transparent;
    border: none;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.search-bar > button {
    width: 86px;
    height: 40px;

    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;    
    cursor: pointer;
}

.search-bar > img {
    translate: 0 -10px ;
    cursor: pointer;
}

.swiper-slide-with-button-div {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.swiper-slide-with-button-div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;

}

.swiper-slide-with-button-div > button {
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}
.banner-tetya-cont {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 720px;
}
.banner-wrapper{
    width: 100%;
}
.banner-fotka > img{
    width: 100%;
    height: 720px;
}
.banner-fotka::before{
    width: 100%;
    content: '';
    position: absolute;
    top: AUTO;
    left: 0;
    filter: brightness(60%);
    height: 720px;
    background: linear-gradient(100deg, black, rgba(197, 55, 32, 0));
}
.banner-text {
    position: absolute;
    top: 220px;
    left: 350px;
    z-index: 1;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-text > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
}

.banner-text > button {
    width: 216px;
    height: 52px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);

    cursor: pointer;
}

.banner-text > button > a {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.section_main-info{
    height: 52px;
    background-color: #ffffff ;
    display: flex;
    justify-content: center;
}
.main_to_info > p{
    color: rgba(197, 55, 32, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

}
.main_to_info > p > a{
    color: rgba(197, 55, 32, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
}
.main_to_info{
    width: 200px;
    height: 45px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 1150px;
}
.main_to_info > h1{
    color: rgba(29, 29, 29, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.about-company-sect{
    width: 100%;
    height: 608px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-banner-foto{
    width: 100%;
    height: 608px;
    position:absolute;
    opacity: 90%;
    filter: brightness(30%);
}
.main-container-company{
    height: 429px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bout-company{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bout-company > p{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color:#ffffff;
}
.poloska-after_bout-company{
    width: 282px;
    background-color: rgba(197, 55, 32, 1);
    height: 4px;
    margin-top: 8px;
}
.frame-for-text_and_requizits{
    height: 349px;
    width: 1085px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
}
.cont-for-text_company{
    width: 936px;
    height: 348px;
    position: relative;
}
.cont-for-text_company > img{
    position: absolute;
}
.cont-for-text_cont-text{
    width: 872px;
    height: 264px;
    padding-left: 35px;
    position: absolute;
    padding-top: 50px;
}
.cont-for-text_cont-text > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}
.cont-for-req_and_quest{
    padding-left: 62px;
    width: 170px;
    position: relative;
}
.cont-requizits{
    width: 94px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}
.cont-requizits > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #ffffff;
}
.cont-quest-galochka{
    padding-top: 36px;
}
.cont-zadat-question{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 49px;
    top: 270px;
}
.cont-zadat-question > p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: rgba(197, 55, 32, 1);
}
.cont-zadat-question > p > a{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: rgba(197, 55, 32, 1);
}
.licens-sect{
    width: 100%;
    height: 1224px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.license-wrapper{
    height: 80px;
    width: 1398px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 88px;
}
.cont-for-license{
    height:48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-for-license > p{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.poloska-after_license{
    width: 248px;
    height: 4px;
    background-color: rgba(197, 55, 32, 1);
    margin-top: 8px;
    margin-bottom: 32px;
}
.grids-for-license{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin-top:32px
}
.block-grid-license{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 360px;
    height: 466px;
}
.cont-for-group_28{
    width: 168px;
    height: 234px;
    margin-bottom: 24px;
}
.cont-for-text_license{
    width: 312px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-for-text_license > p{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.block-grid-license > img{
    position: absolute;
    z-index: -1
}
.cont-for-text_license > p1{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
}
.cont-for-lupa{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 24px;
    top: 24px;
}
.partners-sect{
    width: 100%;
    height: 932px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.partners-banner-foto{
    width: 100%;
    height: 932px;
    position:absolute;
    opacity: 90%;
    filter: brightness(30%);
    z-index: -1;
}
.Boss-cont-for_partners{
    height:756px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.partners-first-block{
    height:48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners-first-block > p{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
}
.poloska-after_partners{
    width: 248px;
    height: 4px;
    background-color: rgba(197, 55, 32, 1);
    margin-top: 8px;
    margin-bottom: 32px;
}
.grids-cont_partners{
    width: 1152px;
    height: 580px;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap:24px;
}
.grid-partners{
    width: 264px;
    height: 258px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid rgba(197, 55, 32, 1);
    background-color: #ffffff;
}
.cont-for-fotka_in-grid-partn{
    width: 100%;
    height: 184px;
    display: flex;
    justify-content: center;
}
.fotka-in-grid-partn{
    width: 184px;
    height: 184px;
}
.cont-for-text_in-grid-partn{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(29, 29, 29, 1)
}
.text-in-grid-partn{
    width: 240px;
    height: 38px;
    display: flex;
    align-items: center;
}
.text-in-grid-partn > p{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
}
.button-for_become-partner{
    margin-top:68px;
    width: 236px;
    height: 56px;
    display: flex;
    justify-content: center;
    border: 4px solid rgba(197, 55, 32, 1);
    background: transparent;
    align-items: center;
}
.button-for_become-partner > button{
    width:196px;
    height: 16px;
    background-color: transparent;
    color: #ffffff;
    border:none;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.button-for_become-partner > button > a{
    width:196px;
    height: 16px;
    background-color: transparent;
    color: #ffffff;
    border:none;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}
.feedback-sect{
    width: 100%;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback{
    position: relative;
}
.Boss-cont-feedback{
    height: 644px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.value-opinion-cont{
    width: 892px;
    height: 28px;
    margin-top:32px;
    display: flex;
    justify-content: center;
}
.value-opinion-cont > p{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.cont-for-client_sergey{
    width: 936px;
    height:168px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}
.cont-for_sergey{
    position:relative;
    width: 174px;
    height: 168px;
    z-index: -1;
    left: 0px;
}
.cont-for_ramki-sergey{
    position: absolute;
    z-index: 2;
    background-image: url(../main-img/sergey.png);
}
.cont-for-text_after-sergey{
    width: 840px;
    height: 134px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 44px;
    margin-bottom: 44px;
}
.cont-for-text_andrey{
    width: 840px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}
.cont-for-text_andrey{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: rgba(29, 29, 29, 1);
}
.orange-poloska_after-andrey{
    width: 282px;
    background-color: rgba(197, 55, 32, 1);
    height: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Sergey{
    width: 840px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 8px;
}
.client{
    width: 840px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 8px;
}
.button-for_leave-feedback > button{
    border: 4px solid rgba(29, 29, 29, 1);
    width: 194px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.button-for_leave-feedback > button > a{
    width: 194px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color:black;
}
.upstroke {
    position: absolute;
    bottom: 105px;
    right: 40px;
    cursor: pointer;
}

.downstroke {
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}
.footer-logo-and-privacy {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.footer-logo-and-privacy > img {
    width: 168px;
    height: 74px;

    cursor: pointer;
}

.footer-logo-and-privacy > p {
    width: 200px;
    color: rgba(255, 255, 255, 1);
    opacity: 50%;
    font-size: 16px;
    font-weight: 500;
}

.options-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.options-cont > div > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}

.options-cont > div > a {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.options-cont > div {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-feedback > div > p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
}

.footer-feedback > div > img {
    width: 20px;
    height: 20px;
}

.footer-feedback > div > button {
    width: 176px;
    height: 40px;
    background-color: transparent;
    border: 4px solid rgba(197, 55, 32, 1);
    margin-left: 20px;
    margin-top: 20px;

    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 700;

    cursor: pointer;
}

.footer-feedback > div {
    display: flex;
    gap: 10px;
}

.footer-feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-left: 60px;
}